DATABASE_URI=postgresql://127.0.0.1:5432/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
postgresql://neondb_owner:npg_CtZu2N3ogUHW@ep-delicate-star-a1ymv3ji-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require